<div class="contents">
  <div class="container">
    <h2>新規登録</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

<%# ニックネームを入力するためのフォーム部品 %>
      <div class="field">
        <%= f.label :お名前＆あだ名 %> <em><!--(最大6文字まで)!--></em><br />
        <%#= f.text_field :nickname, autofocus: true, maxlength: "6" %>
        <%= f.text_field :nickname, autofocus: true %>
      </div>
<%#// ニックネームを入力するためのフォーム部品 %>      

      <div class="field">
        <%= f.label :電子メール %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :暗証番号 %>
        <% if @minimum_password_length %>
          <em>(最低<%= @minimum_password_length %>文字から)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :暗証番号___確認 %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "登録する" %>
      </div>
    <% end %>
  </div>
</div>