<div class="contents">
  <div class="container">
    <h2>住民の方はこちら</h2>
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <%= f.label :電子メール %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :暗証番号 %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
        <%# 要確認 %>
          <%#= f.label :電子メールと暗証番号を覚える %><br />
          <%#= f.check_box :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "接続" %>
      </div>
    <% end %>
  </div>
</div>