<%# クレジットカード支払い後、支払い完了メッセージ %>
<% if flash[:notice1] %>
  <p><%= flash[:notice1] %></p>
<% end %>
<% if flash[:notice2] %>
  <p><%= flash[:notice2] %></p>
<% end %>


<%# 検索の入力欄とボタン %>
    <%= form_with(url: search_infos_path, local: true, method: :get, class:
    "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "お知らせを探す", class: "search-input" %>
    <%= form.submit "探す", class: "search-btn" %>
<% end %>
<%#// 検索の入力欄とボタン %>
    <div class="contents">
        <% @infos.each do |info| %>
            <%= render partial: "info", locals: { info: info } %>
            <%# 部分テンプレート内において,infoという文字列の代入されたinfo変数が使えるようにする。 %><% end %>
        </div>